# Backend Configuration
MONGODB_URI=mongodb://localhost:27017/procreds
SECURITY_USER=admin
SECURITY_PASSWORD=admin123

# Frontend Configuration
REACT_APP_API_URL=http://localhost:8080/api
REACT_APP_API_USERNAME=admin
REACT_APP_API_PASSWORD=admin123

